<!DOCTYPE>
<html>
<head>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	 
			<form action="/" method="POST">
	{% for q in range(size) %}
	<div class="buttonContainer">

		{% for i in range(size) %}
			{% if (i+size*q) in blanks_list %}
				<input onkeydown="keyCode(event)" class = "blankSquare" type="disabled" id = "{{ i + (size *q) }}" disabled="disabled">
			{% else %}
				<input onkeydown="keyCode(event)" class = "button001" type="text" id = "{{ i+ (size *q) }}" name = "{{ i+ (size *q) }}" maxlength=1>  
			{% endif %}
		{% endfor %}
		<br>
	</div>
	{% endfor %} 
			<input type="submit" value = "submit">
			</form>

<p>
	{% for i in range(2) %}
		vertical:
		{{def_list[i]}}
	{% endfor %}
	{% for i in range(2) %}
		horizontal:
		{{def_list[i+2]}}
	{% endfor %}
</p>

</body>
</html>